
h1{
    font-size: 120px;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
}
p{
    font-size: 48px;
    font-family: "Mukta";
    font-weight: 600;
}
.rojo{
    color: red;
}
.verde{
    color: green;
}
.azul{
    color: blue;
}